XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

URxvt.backgroundPixmap: /home/wooosh/.config/urxvtpixmap.png;style=tiled
URxvt.lineSpace: 0
URxvt.internalBorder: 12
URxvt.scrollBar: false
URxvt.font: xft:azuki_font:pixelsize=17
URxvt.boldFont: xft:azukifontBI:style=bold:pixelsize=17
URxvt.intensityStyles: false

!XTerm*vt100.scaleHeight: 1.45

*termName: xterm-256color
*internalBorder: 6
!*faceName: xft:terminus:size=9

! special
*.foreground:   #222222
*.cursorColor:  #222222

! black
*.color0:      #473131
*.color8:      #473131

! red
!*.color1:       #640000
!*.color1:       #7D303D
*.color1:       #B02541
*.color9:       #FDCFB1

! green
*.color2:       #005F00
*.color10:      #E1EEB8

! yellow
*.color3:       #D98E01
*.color11:      #FFFEC4

! blue
*.color4:       #000062
*.color12:      #D6DDF7

! magenta
*.color5:       #C63C5E
*.color13:      #F1E3FC

! cyan
*.color6:       #009BAA
*.color14:      #DBECF7

! white
*.color7:       #eeeeee
*.color15:       #eeeeee

! extra colors
! duplicate foreground for cmus
*.color16: #e5ece2

! accent colors for fetch
*.color17: #c6da83
*.color18: #252724
